
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
    margin-bottom: 25px;
    height: 100%;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: lightgreen;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black ;
    background-color: orangered;
}

a:hover {
    color: green;
}

a {
    text-decoration: none;
}

.my-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.div1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.div3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.div4 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.div5 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.menu {
    color: white;

}

.title-text {
    color: teal;
}

tr:nth-child(even) {
    background-color: grey;
}
